@media all and (max-width: 550px){
    #quiz #quiz-navigation h1,
    #quiz #quiz-navigation h2{
        text-align: center;
    }

    #quiz #quiz-navigation{
        padding-left: 0px;
    }

    .quiestions-banner,
    .current-time{
        margin: auto;
        margin-top: 19px;
    }

    .quiestions-banner .block{
        text-align: center;
    }

    .quiestions-banner .q-index{
        width: 20px;
        height: 20px;
    }


    .current-time{
        width: 50%;
    }

    .question-template{
        width: 100%;
    }

    .question,
    .quiestions-banner{
        font-size: 20px;
    }

    .question .q-text{
        font-size: 26px;
    }

    .q-control,
    .q-control .right-col{
        display: flex;
        flex-direction: column;
    }
}