#contact-div{
    display: flex;
    align-items: center;
    padding: 0;
}

.social-links{
    display: flex;
    flex-direction: row;
}

.social-links li{
    display: inline-block;
    font-size: 40px;
    margin-right: 20px;
    list-style: none;
    padding-right: 5px;
}

.social-links li a{
    border-radius: 50%;
    padding: 7px 11px;
    background-color: rgba(226, 210, 210, 0.5);
    color: #262626;
    transition: 0.4s;
}


.facebook a:hover {
    color: #3A5794;
    padding: 9px 13px;
}

.github a:hover{
    color: #995a13;
    padding: 9px 13px;
}

.mail a:hover{
    color: #DD4B39;
    padding: 9px 13px;
}

.linkedin a:hover{
    color: #007BB6;
    padding: 9px 13px;
}

.instagram a:hover{
    color: #EE5C04;
    padding: 9px 13px;
}


/* Animated overlay */
.loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}