.score-nav{
    font-family: 'Montserrat', 'sans-serif';
}

.all-scores{
    display: flex;
    flex-flow: column wrap;
}

.all-scores a{
    transition: 0.2s ease;
}

.all-scores a:hover{
    background: transparent;
    font-size: 16px;
    font-weight: 900;
    padding: 8px 10px;
}

.profile-view {
    border-color: rgba(124, 188, 6, 0.92);
    background-color: green;
}

.profile-view:hover {
    border-color: rgba(124, 188, 6, 0.92);
    background-color: green;
}