#register-container{
    height: 87vh;
    transition: baclground 05s ease;
    position: relative;
}

.name-field,
.email-field,
.password-field,
.rePass-field,
.submit-holder,
.finish-field{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    height: 50px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 1.5s ease;
}

.name-field i,
.email-field i,
.password-field i,
.rePass-field i{
    padding: 10px;
}

.fa-arrow-down{
    cursor: pointer;
}

.fa-arrow-down:hover{
    color: green;
}

.name-field input,
.email-field input,
.password-field input,
.rePass-field input{
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
}

div.inactive{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%);
}

div.active{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}